<div class="col-10 offset-1 about">
  <h1>About Find Your Drag Name</h1>

  <p>
    Find Your Drag Name was built by <a target="_blank" href="http://github.com/jasyw5">John Stahl.</a> He is a web developer who combines his passion for LGBTQ culture with coding.
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Blue.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-4">
      <h2 class="text-center">John Stahl</h2>
      <br />
      <p>
        John Stahl is a web developer from Kansas City, MO and a Healthcare IT consultant for Cerner Corporation. John is always working to hone his coding skills to become the best web developer he can be. 
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />