<h2>
  <span>Drag Name No. <%= @quote.id %>:</span>
  Your one stop shop for the best Drag Name
</h2>
<br />
<br />
<br />

<div class="dragoutput">
<h1 id="dragnamerandom"><%= @quote.dragname %></h1>
<h2 id="dragnameauthor">- <%= @quote.author %></h2>
</div>