<h2>
  <span>Drag Name No. <%= @quote.id %>:</span>
  Serving you Drag Names you neither need nor want
</h2>
<br />
<br />
<br />

<div class="dragoutput">
<h1 id="dragnamerandom"><%= @quote.dragname %></h1>
<h2 id="dragnameauthor">- <%= @quote.author %></h2>
</div>
<br />
<br />
<br /> 
<br />