@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:900i');


.clear {
  clear: both;
}

.slogan {
font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
font-style: italic;
padding-top: 26px;
font-size: 20px;
}

.links {
  padding-top: 26px;
}

.links a {
  font-size: 20px;
  color: #f84342;
  border-bottom: 1px solid #dfdfdf;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

header {
  border-top: 9px solid #222222;
}

.dragpic {
  padding-left: 20px;
}

hr {
  clear: both;
}

#dragnamerandom {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;
  
  /* Standar Syntax */
  animation: rainbow 3s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  40%{color: yellow;}
  60%{color: green;}
  100%{color: blue;}
  100%{color: orange;}  
}
/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  40%{color: yellow;}
  60%{color: green;}
  100%{color: blue;}
  100%{color: orange;}  
}

/* Standar Syntax */
@keyframes rainbow{
  0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  40%{color: yellow;}
  60%{color: green;}
  100%{color: blue;}
  100%{color: orange;}
}

#dragnameauthor {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.next-name {
  color: #f84342;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: right;
  font-size: 13.5px;
}

.logo:hover {
  text-decoration: none;
}

.about {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

.modal {
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

h2 span {
  color: #dddddd;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

h2 {
  font-size: 32.5px;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.dragoutput {
  margin-left: 100px;
}

::selection {
  background-color: #f84342;
}

